---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://api.github.com/repos/devbuddy/devbuddy/releases/latest
    method: GET
  response:
    body: '{"url":"https://api.github.com/repos/devbuddy/devbuddy/releases/10448348","assets_url":"https://api.github.com/repos/devbuddy/devbuddy/releases/10448348/assets","upload_url":"https://uploads.github.com/repos/devbuddy/devbuddy/releases/10448348/assets{?name,label}","html_url":"https://github.com/devbuddy/devbuddy/releases/tag/v0.1.0","id":10448348,"tag_name":"v0.1.0","target_commitish":"master","name":"","draft":false,"author":{"login":"devbuddy","id":60219,"avatar_url":"https://avatars1.githubusercontent.com/u/60219?v=4","gravatar_id":"","url":"https://api.github.com/users/devbuddy","html_url":"https://github.com/devbuddy","followers_url":"https://api.github.com/users/devbuddy/followers","following_url":"https://api.github.com/users/devbuddy/following{/other_user}","gists_url":"https://api.github.com/users/devbuddy/gists{/gist_id}","starred_url":"https://api.github.com/users/devbuddy/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/devbuddy/subscriptions","organizations_url":"https://api.github.com/users/devbuddy/orgs","repos_url":"https://api.github.com/users/devbuddy/repos","events_url":"https://api.github.com/users/devbuddy/events{/privacy}","received_events_url":"https://api.github.com/users/devbuddy/received_events","type":"User","site_admin":false},"prerelease":false,"created_at":"2018-04-09T01:22:32Z","published_at":"2018-04-09T01:24:55Z","assets":[{"url":"https://api.github.com/repos/devbuddy/devbuddy/releases/assets/6777275","id":6777275,"name":"bud-darwin-amd64","label":"","uploader":{"login":"devbuddy","id":60219,"avatar_url":"https://avatars1.githubusercontent.com/u/60219?v=4","gravatar_id":"","url":"https://api.github.com/users/devbuddy","html_url":"https://github.com/devbuddy","followers_url":"https://api.github.com/users/devbuddy/followers","following_url":"https://api.github.com/users/devbuddy/following{/other_user}","gists_url":"https://api.github.com/users/devbuddy/gists{/gist_id}","starred_url":"https://api.github.com/users/devbuddy/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/devbuddy/subscriptions","organizations_url":"https://api.github.com/users/devbuddy/orgs","repos_url":"https://api.github.com/users/devbuddy/repos","events_url":"https://api.github.com/users/devbuddy/events{/privacy}","received_events_url":"https://api.github.com/users/devbuddy/received_events","type":"User","site_admin":false},"content_type":"application/octet-stream","state":"uploaded","size":3680432,"download_count":1,"created_at":"2018-04-09T01:24:54Z","updated_at":"2018-04-09T01:24:55Z","browser_download_url":"https://github.com/devbuddy/devbuddy/releases/download/v0.1.0/bud-darwin-amd64"},{"url":"https://api.github.com/repos/devbuddy/devbuddy/releases/assets/6777276","id":6777276,"name":"bud-darwin-amd64.sha256","label":"","uploader":{"login":"devbuddy","id":60219,"avatar_url":"https://avatars1.githubusercontent.com/u/60219?v=4","gravatar_id":"","url":"https://api.github.com/users/devbuddy","html_url":"https://github.com/devbuddy","followers_url":"https://api.github.com/users/devbuddy/followers","fo[...]
