---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://api.github.com/repos/pior/dad/releases/latest
    method: GET
  response:
    body: '{"url":"https://api.github.com/repos/pior/dad/releases/10448348","assets_url":"https://api.github.com/repos/pior/dad/releases/10448348/assets","upload_url":"https://uploads.github.com/repos/pior/dad/releases/10448348/assets{?name,label}","html_url":"https://github.com/pior/dad/releases/tag/v0.1.0","id":10448348,"tag_name":"v0.1.0","target_commitish":"master","name":"","draft":false,"author":{"login":"pior","id":60219,"avatar_url":"https://avatars1.githubusercontent.com/u/60219?v=4","gravatar_id":"","url":"https://api.github.com/users/pior","html_url":"https://github.com/pior","followers_url":"https://api.github.com/users/pior/followers","following_url":"https://api.github.com/users/pior/following{/other_user}","gists_url":"https://api.github.com/users/pior/gists{/gist_id}","starred_url":"https://api.github.com/users/pior/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pior/subscriptions","organizations_url":"https://api.github.com/users/pior/orgs","repos_url":"https://api.github.com/users/pior/repos","events_url":"https://api.github.com/users/pior/events{/privacy}","received_events_url":"https://api.github.com/users/pior/received_events","type":"User","site_admin":false},"prerelease":false,"created_at":"2018-04-09T01:22:32Z","published_at":"2018-04-09T01:24:55Z","assets":[{"url":"https://api.github.com/repos/pior/dad/releases/assets/6777275","id":6777275,"name":"dad-darwin-amd64","label":"","uploader":{"login":"pior","id":60219,"avatar_url":"https://avatars1.githubusercontent.com/u/60219?v=4","gravatar_id":"","url":"https://api.github.com/users/pior","html_url":"https://github.com/pior","followers_url":"https://api.github.com/users/pior/followers","following_url":"https://api.github.com/users/pior/following{/other_user}","gists_url":"https://api.github.com/users/pior/gists{/gist_id}","starred_url":"https://api.github.com/users/pior/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pior/subscriptions","organizations_url":"https://api.github.com/users/pior/orgs","repos_url":"https://api.github.com/users/pior/repos","events_url":"https://api.github.com/users/pior/events{/privacy}","received_events_url":"https://api.github.com/users/pior/received_events","type":"User","site_admin":false},"content_type":"application/octet-stream","state":"uploaded","size":3680432,"download_count":13,"created_at":"2018-04-09T01:24:54Z","updated_at":"2018-04-09T01:24:55Z","browser_download_url":"https://github.com/pior/dad/releases/download/v0.1.0/dad-darwin-amd64"},{"url":"https://api.github.com/repos/pior/dad/releases/assets/6777276","id":6777276,"name":"dad-darwin-amd64.sha256","label":"","uploader":{"login":"pior","id":60219,"avatar_url":"https://avatars1.githubusercontent.com/u/60219?v=4","gravatar_id":"","url":"https://api.github.com/users/pior","html_url":"https://github.com/pior","followers_url":"https://api.github.com/users/pior/followers","following_url":"https://api.github.c[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://github.com/pior/dad/releases/download/v0.1.0/dad-darwin-amd64
    method: GET
  response:
    body: <html><body>You are being <a href="https://github-production-release-asset-2e65be.s3.amazonaws.com/110183537/47fc50a0-3b73-11e8-9d47-0ec873ee6e3e?X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20180428%2Fus-east-1%2Fs3%2Faws4_request&amp;X-Amz-Date=20180428T182443Z&amp;X-Amz-Expires=300&amp;X-Amz-Signature=4d4f8d0a96063e37091eb46c3474a6d22c67db7c48368fdd2c9558aea23e13f1&amp;X-Amz-SignedHeaders=host&amp;actor_id=0&amp;response-content-disposition=attachment%3B%20filename%3Ddad-darwin-amd64&amp;response-content-type=application%2Foctet-stream">redirected</a>.</body></html>
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://github-production-release-asset-2e65be.s3.amazonaws.com/110183537/47fc50a0-3b73-11e8-9d47-0ec873ee6e3e?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20180428%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20180428T182443Z&X-Amz-Expires=300&X-Amz-Signature=4d4f8d0a96063e37091eb46c3474a6d22c67db7c48368fdd2c9558aea23e13f1&X-Amz-SignedHeaders=host&actor_id=0&response-content-disposition=attachment%3B%20filename%3Ddad-darwin-amd64&response-content-type=application%2Foctet-stream
      Status:
      - 302 Found
    status: 302 Found
    code: 302
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://github-production-release-asset-2e65be.s3.amazonaws.com/110183537/47fc50a0-3b73-11e8-9d47-0ec873ee6e3e?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20180428%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20180428T182443Z&X-Amz-Expires=300&X-Amz-Signature=4d4f8d0a96063e37091eb46c3474a6d22c67db7c48368fdd2c9558aea23e13f1&X-Amz-SignedHeaders=host&actor_id=0&response-content-disposition=attachment%3B%20filename%3Ddad-darwin-amd64&response-content-type=application%2Foctet-stream
    method: GET
  response:
    body: "Original data was too big"
    headers:
      Content-Disposition:
      - attachment; filename=dad-darwin-amd64
      Content-Type:
      - application/octet-stream
      Etag:
      - '"e5976e10d76dcd922f704f77de65f74d"'
      Last-Modified:
      - Mon, 09 Apr 2018 01:24:56 GMT
      X-Amz-Request-Id:
      - DAAAEED1AFBEAC28
    status: 200 OK
    code: 200
    duration: ""
