name: tests

on:
  push:
    tags:
      - v*
    branches:
      - master
  pull_request:

env:
  TEST_DOCKER_IMAGE: ghcr.io/devbuddy/docker-testing:sha-f11e362

jobs:
  linters:
    name: golangci-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: '1.24'
          cache: false
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.1.2

  tests:
    name: go test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: "1.24"
      - run: go test -timeout 10s -cover ./pkg/...

  tests-bash:
    name: bash tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: "1.24"
      - run: docker pull $TEST_DOCKER_IMAGE
      - run: TEST_SHELL=bash go test -cover -v ./tests

  tests-zsh:
    name: zsh tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: "1.24"
      - run: docker pull $TEST_DOCKER_IMAGE
      - run: TEST_SHELL=zsh go test -cover -v ./tests

  release:
    name: release
    needs: [linters, tests, tests-bash, tests-zsh]
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: "1.24"
      - run: script/buildall

      - run: ls -l dist
      - run: grep . dist/*.sha256

      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          files: dist/*
          prerelease: false

      - name: Trigger action in homebrew-devbuddy
        uses: mvasigh/dispatch-action@main
        with:
          token: ${{ secrets.ACCESS_TOKEN }}
          repo: homebrew-devbuddy
          owner: devbuddy
          event_type: upgrade
          message: |
            {
              "version": "${{ github.ref_name }}", 
              "revision": "${{ github.sha }}"
            }
