name: tests

on:
  push:
    tags:
      - v*
    branches:
      - master
  pull_request:

jobs:
  linters:
    name: golangci-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.33

  tests:
    name: go test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v1
        with:
          go-version: "1.15.x"
      - run: go test -cover ./pkg/...
      - run: docker build -t docker-shells integration/context/expect/docker-shells
      - run: go test -cover -v ./integration/context/expect

  tests-bash:
    name: integration bash
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v1
        with:
          go-version: "1.15.x"
      - uses: satackey/action-docker-layer-caching@v0.0.11
        continue-on-error: true
      - run: cd integration/docker-images; ./build.sh
      - run: TEST_SHELL=bash go test -cover -v ./integration

  tests-zsh:
    name: integration zsh
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v1
        with:
          go-version: "1.15.x"
      - uses: satackey/action-docker-layer-caching@v0.0.11
        continue-on-error: true
      - run: cd integration/docker-images; ./build.sh
      - run: TEST_SHELL=zsh go test -cover -v ./integration

  release:
    name: release
    needs: [linters, tests, tests-bash, tests-zsh]
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v1
        with:
          go-version: "1.15.x"
      - run: script/buildall
      - run: ls -l dist
      - run: grep . dist/*.sha256
      - name: publish
        uses: fnkr/github-action-ghr@v1
        env:
          GHR_PATH: dist/
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
